:root {
  --football-minute-stack: 2;
}

.footballTimelineMinute {
  flex-direction: column;

  justify-content: space-between;
  /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
  margin-bottom: 10px;
}

.minuteLine {
  display: flex;

  justify-content: center;

  padding-right: 12px;
  padding-left: 12px;
  margin-bottom: var(--spacing-2);
}

.sides {
  flex-grow: 1;

  width: 0;
}

.middleNotification {
  position: relative;
  z-index: var(--football-minute-stack);
}

.minute {
  position: relative;
  z-index: var(--football-minute-stack);

  width: var(--spacing-8);
  height: var(--spacing-6);

  color: var(--signposting-inplay-text-default);
  text-align: center;
}

.middle {
  position: relative;
  z-index: var(--football-minute-stack);

  display: flex;

  flex-direction: column;

  align-self: center;
  justify-content: center;

  margin: 0 var(--spacing-2) 0 var(--spacing-2);
}

.middle::before {
  position: absolute;
  bottom: 0;
  left: 33%;

  display: block;

  width: 33%;

  content: "";

  border-bottom: 1px solid var(--signposting-inplay-border-disabled);
}

.hiddenMiddle {
  visibility: hidden;
}

.extraTime {
  z-index: var(--football-minute-stack);

  color: var(--signposting-inplay-text-disabled);
}
