<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>url</key>
				<string>https://skybet.com/football/s-1</string>
			</dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Football</string>
			<key>UIApplicationShortcutItemType</key>
			<string>football</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Football</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>url</key>
				<string>https://skybet.com/horse-racing/s-7</string>
			</dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Horse-Racing</string>
			<key>UIApplicationShortcutItemType</key>
			<string>racing</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Racing</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>url</key>
				<string>https://skybet.com/inplay/all/i-696e706c6179</string>
			</dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>In-Play</string>
			<key>UIApplicationShortcutItemType</key>
			<string>in-play</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>In-Play</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>url</key>
				<string>https://skybet.com/view/d-virtuals</string>
			</dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Virtuals</string>
			<key>UIApplicationShortcutItemType</key>
			<string>virtuals</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Virtuals</string>
		</dict>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(BUNDLE_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.betfair.tbd.qa</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>skybet</string>
				<string>fbFACEBOOK_APP_ID</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.betfair.tbd.in-house</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>skybet</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.betfair.tbd.native.release</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>skybet</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>FACEBOOK_APP_ID</string>
	<key>FacebookDisplayName</key>
	<string>Sky Bet: Sports Betting</string>
	<key>GamingSettings</key>
	<dict>
		<key>AssetsDomainShort</key>
		<string>sbgcdn</string>
		<key>EnvironmentShort</key>
		<string>skybet</string>
		<key>GamesApiProduct</key>
		<string>native-sportsgaming</string>
		<key>RecentlyPlayedBucket</key>
		<string>native-sportsgaming</string>
		<key>RegulatoryApiProduct</key>
		<string>SKYBET_NATIVE</string>
		<key>ResourcesVersion</key>
		<string>27</string>
		<key>SubDomain</key>
		<string>sbgames</string>
		<key>applicationId</key>
		<string>SkyBetGames</string>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms-apps</string>
		<string>fb-messenger</string>
		<string>fb</string>
		<string>twitter</string>
		<string>whatsapp</string>
		<string>skybet</string>
		<string>super6</string>
		<string>SkyFF</string>
		<string>skysixaside</string>
		<string>skyc4racingpick6</string>
		<string>skysportinglife</string>
		<string>skypoker</string>
		<string>skycasino</string>
		<string>skybingo</string>
		<string>skyvegas</string>
		<string>cydia</string>
		<string>undecimus</string>
		<string>siloe</string>
		<string>zbra</string>
		<string>filza</string>
		<string>activator</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>drk.com.betfair</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>drk.es.betfair</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>drk.it.betfair</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>drk.ro.betfair</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>localhost.betfair.com</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>localhost.betfair.ro</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>nxt.com.betfair</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>nxt.es.betfair</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>nxt.internal</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>nxt.it.betfair</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>nxt.ro.betfair</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>prf.com.betfair</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>qa.com.betfair</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>qa.es.betfair</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>qa.internal</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>qa.it.betfair</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>qa.ro.betfair</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>qabranch.com.betfair</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>qacms.com.betfair</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>qacms.ro.betfair</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>sportschannels-dev.aws.private</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>SkyBet uses Bluetooth to connect to nearby devices for enhanced functionality.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>SkyBet needs Bluetooth access to communicate with nearby peripherals.</string>
	<key>NSCameraUsageDescription</key>
	<string>Pressing OK will allow you to upload an image or send us a photo to verify your account.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Enabling Face ID allows you quick and secure access to your account.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>SkyBet requires access to your location even when it is not in use, to provide location-based services.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>SkyBet requires access to your location even when it is not in use, to provide location-based services.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>SkyBet requires access to your location while it is in use, to improve user experience based on your location.</string>
	<key>NSMotionUsageDescription</key>
	<string>SkyBet uses motion data to provide a more interactive experience based on device movement.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Your data will be used to offer you a more personalised experience in Navigation, Messaging, Sporting Events and Promotions.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to the photo library to save and share images.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app requires access to the photo library to save and share images.</string>
	<key>UIAppFonts</key>
	<array>
		<string>SkyText_Md.ttf</string>
		<string>SkyText_Rg.ttf</string>
		<string>SSportsD_Md.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSSupportsLiveActivities</key>
	<true/>
</dict>
</plist>
