.itemsList {
  display: flex;

  flex-direction: column;
  flex-grow: 1;
}

.searchBar {
  display: flex;

  flex-flow: column;

  margin: 0 var(--spacing-3);
}

.searchTitle {
  color: var(--neutrals-text-default);
}

.card {
  margin: 0 var(--spacing-3) var(--spacing-6);
}

.card:last-child {
  margin-bottom: var(--spacing-6);
}

/* groups define their own margins */
.groupContainer {
  margin: 0 0 var(--spacing-6);
}
