.matchStatsCard {
  height: 100%;
}

.content {
  display: flex;

  flex-direction: column;
  flex-grow: 1;
}

.content section:first-child {
  margin-bottom: var(--spacing-6);
}

.content section:nth-child(2) {
  margin: var(--spacing-3);
}
