.placeholderContainer {
  display: flex;

  flex-direction: column;

  gap: var(--card-vertical-gap);

  align-items: flex-start;
  justify-content: flex-end;

  width: 327px;
  height: 220px;
  padding: var(--card-padding);
  overflow: hidden;

  background: var(--card-background-colour);
  border: var(--card-stat-border);
  border-radius: var(--card-border-radius);
}

.title {
  width: 110px;
  height: 20px;
}

.microPlayerContainer {
  display: flex;

  flex-direction: row;

  gap: 4px;

  overflow: hidden;
}

.microPlayer {
  min-width: 96px;
  height: 64px;
}

.statsLabel {
  width: 110px;
  height: 14px;
}

.outcomesLabel {
  width: 252px;
  height: 20px;
}

.betButton {
  width: 59.75px;
  height: 48px;
}

.betButtonContainer {
  display: flex;

  flex-direction: row;

  gap: 4px;

  justify-content: center;
}
