<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkL3F-W_oNXXRHQpK4FClWGdXq3fAgR1M</string>
	<key>GCM_SENDER_ID</key>
	<string>237660054779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.betfair.multiples</string>
	<key>PROJECT_ID</key>
	<string>bfapps-production</string>
	<key>STORAGE_BUCKET</key>
	<string>bfapps-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237660054779:ios:660b77ba0ea3d245547c5e</string>
</dict>
</plist>