.container {
  display: grid;

  gap: var(--partial-splashing-page-vertical-gap);

  padding: var(--partial-splashing-page-padding);
}

.title {
  font: var(--partial-splashing-page-title-typography);
  color: var(--partial-splashing-page-text-title-colour);
  text-decoration-line: var(--partial-splashing-page-title-typography-text-decoration-line);
  text-transform: var(--partial-splashing-page-title-typography-text-transform);
  letter-spacing: var(--partial-splashing-page-title-typography-letter-spacing);
}

.twitterTitle {
  font: var(--partial-splashing-page-content-text-typography);
  color: var(--partial-splashing-page-text-content-text-colour);
  text-decoration-line: var(--partial-splashing-page-content-text-typography-text-decoration-line);
  text-transform: var(--partial-splashing-page-content-text-typography-text-transform);
  letter-spacing: var(--partial-splashing-page-content-text-typography-letter-spacing);
}

.description {
  font: var(--partial-splashing-page-content-text-typography);
  color: var(--partial-splashing-page-text-content-text-colour);
  text-decoration-line: var(--partial-splashing-page-content-text-typography-text-decoration-line);
  text-transform: var(--partial-splashing-page-content-text-typography-text-transform);
  letter-spacing: var(--partial-splashing-page-content-text-typography-letter-spacing);
}

.wrap {
  display: grid;

  gap: var(--partial-splashing-page-header-vertical-gap);
}

.links {
  display: flex;

  flex-direction: column;

  gap: var(--quick-link-card-gap);

  overflow: hidden;

  filter: var(--quick-link-drop-shadow);
}

.iframeWrap {
  display: flex;

  justify-content: center;

  overflow-y: hidden;
}

.iframe {
  display: block;

  width: 290px;
  height: 620px;
}

.icon {
  width: 20px;
  height: 20px;
}
