.card {
  display: flex;

  flex-direction: column;

  padding: var(--spacing-2);

  background-color: var(--neutrals-background-elevation2);
  border-radius: 4px;
}

.card.away {
  display: flex;

  align-items: flex-start;

  text-align: left;
}

.card.home {
  display: flex;

  align-items: flex-end;

  text-align: right;
}

.sideTitle {
  color: var(--neutrals-text-default);
}

.sideDescription {
  display: flex;

  align-items: center;

  color: var(--neutrals-text-secondary);
}

.playerName {
  flex: 1;

  margin: 0 var(--spacing-1);
}

.substitution {
  display: flex;

  flex-direction: row-reverse;
}
