registry=https://artifactory-prd.prd.betfair/artifactory/api/npm/npm

@flutter-global:registry=https://npm.pkg.github.com/Flutter-Global
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

always-auth=false
strict-ssl=false
