.container {
  display: grid;

  grid-gap: var(--spacing-2);

  width: 100%;
  overflow-x: hidden;
}

.player {
  flex-grow: 1;
}

@media screen and (max-width: 373px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 374px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
