.headerContainer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--header-stack);

  background-color: var(--page-background-colour);

  /* fixing visual gaps between Header child components */
}

.headerFadeOut {
  width: calc(100% - var(--spacing-3));
  height: calc(100% - var(--spacing-3));

  visibility: hidden;

  animation-name: headerFadeOutAnimation;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
}

.headerShadow {
  filter: var(--header-container-drop-shadow);
}

@keyframes headerFadeOutAnimation {
  from {
    width: 100%;
    height: 100%;
    padding-top: 0;
    padding-left: 0;

    visibility: visible;
  }

  to {
    width: calc(100% - var(--spacing-3));
    height: calc(100% - var(--spacing-3));
    padding-top: var(--spacing-3);
    padding-left: var(--spacing-3);

    visibility: hidden;
  }
}

.portalsContainer {
  padding-top: var(--header-bottom-section-container-padding);
  padding-bottom: var(--header-input-container-padding-bottom);
}

.portalsContainerWithSearch {
  padding-top: var(--header-bottom-section-container-padding);
}

.hidePortalContainer {
  display: none;
}
