/* THROTTLE: DESKTOP_EXPERIENCE - can be done through media query when this throttle is REMOVED */
.scrollableSectionDesktop {
  padding: 0;
  overflow-x: hidden;
}

.header {
  position: sticky;
  top: 0;
  z-index: var(--desktop-header-stack);

  width: 100%;
}

.scrollbarContainer {
  display: flex;

  flex-flow: row;

  align-items: flex-start;
  justify-content: center;

  width: 100%;
  overflow-y: auto;
}

.headerAndScrollableContainer {
  display: flex;

  flex-flow: column;

  height: 100vh;
}

.sectionsContainer {
  display: flex;

  align-items: flex-start;

  width: 100%;
  max-width: var(--desktop-max-width);
}

.scrollable {
  width: 55%;
  padding: var(--main-container-padding);
}

.stickyContainer {
  position: sticky;
  top: 0;
  z-index: var(--sticky-header-stack);

  height: 0;
  margin: 0 var(--spacing-3);

  background-color: var(--components-navigation-header-background-default);
}

.leftSideBar {
  width: 20%;

  /* This min-height is to prevent it from being out of position while loading content (due to being sticky at bottom) */
  min-height: calc(100vh - var(--spacing-6));
  padding-top: var(--sidebar-padding);
}

.leftSideBar.webWrappedVersion {
  padding-top: var(--spacing-6);
}

.rightSideBar {
  display: flex;

  width: 25%;
  min-height: calc(100vh - var(--ssc-desktop-header-placeholder-height) - var(--spacing-6));
  padding-left: var(--spacing-3);
}

.rightSideBar.webWrappedVersion {
  min-height: calc(100vh - var(--spacing-6));
}

.sideBar {
  position: sticky;
  bottom: 0;

  align-self: flex-end;
}

.mainContainer {
  margin-top: 0;
}

button {
  cursor: pointer;
}
