<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>API_KEY</key>
		<string>AIzaSyBasXvJCSxXQZ0n6gNuhAm5FySWz1EA1qA</string>
		<key>GCM_SENDER_ID</key>
		<string>38241123377</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.bskyb.mobenga.skybet</string>
		<key>PROJECT_ID</key>
		<string>sbg-apps-ff069</string>
		<key>STORAGE_BUCKET</key>
		<string>sbg-apps-ff069.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:38241123377:ios:b7f635a4399c8eadeca910</string>
	</dict>
</plist>