.container {
  margin: 0;
}

.title {
  margin-bottom: var(--spacing-2);

  color: var(--neutrals-text-default);
}

.toggleContainer {
  margin-bottom: var(--spacing-3);
}

.cardContainer {
  margin-top: var(--spacing-3);
}
